* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  transition: all 0.5s ease;
}
header .logo {
  display: flex;
  align-items: center;
  flex: 5 1 400px;
  margin-left: 2rem;
}
header .logo img {
  width: 6vw;
  height: 6vw;
}
header nav {
  flex: 2 1 400px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
}
header nav ul a {
  color: #09777D;
  text-decoration: none;
  font-size: 1.35rem;
  border-radius: 30%;
}

main section.backimage {
  min-height: 90vh;
  width: 100%;
  background-image: url("./Pictures/pexels-photo-416676.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main h3 {
  font-size: 3.5rem;
  color: white;
  margin: 3rem 0rem;
}
main button {
  color: white;
  background-color: #347a8b;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
main button:hover {
  background-color: white;
  color: #09777D;
}
main .filter {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
main section.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main section.second h2 {
  font-size: 2rem;
  margin: 2rem 0rem;
}
main section.second article.cards {
  display: flex;
  width: 80%;
  min-height: 80vh;
  flex-wrap: wrap;
}
main section.second article.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.25rem;
  flex: 1 1 300px;
}
main section.second article.cards .card .image-container {
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
main section.second article.cards .card .image-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  transition: all 0.5s;
}
main section.second article.cards .card .image-container img:hover {
  transform: scale(1.2);
}
main section.second article.cards .card h4 {
  font-size: 2rem;
  margin-top: 1rem 0rem;
}
main section.second article.cards .card p {
  font-size: 1.25rem;
  margin: 2rem 0rem;
}
main section.second article.cards .card a {
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #09777D;
  color: white;
  transition: 0.5s;
}
main section.second article.cards .card a:hover {
  background-color: #59eaf5;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #929292;
  min-height: 40vh;
  justify-content: space-between;
  padding: 2rem;
}
footer .logo {
  display: flex;
  align-items: center;
}
footer .logo img {
  width: 6vw;
  height: 6vw;
}
footer nav {
  width: 30%;
}
footer nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer nav ul li {
  flex-basis: 100px;
}
footer nav ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.35rem;
  transition: 0.5s;
}
footer nav ul li a:hover {
  color: #09777D;
}
footer .icons a {
  margin: 0rem 1rem;
}
footer .icons a img {
  width: 4vw;
  height: 4vw;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #afaeae;
}

::-webkit-scrollbar-thumb {
  background: #09777D;
}

::-webkit-scrollbar-thumb:hover {
  background: #37cee9;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 1rem;
  }
}
@media screen and (max-width: 800px) {
  header nav ul {
    margin: 1.5rem;
  }
  main h3 {
    font-size: 2rem;
  }
  main section.second article.cards .card img {
    width: 40vw;
    height: 40vw;
  }
  footer .logo img {
    width: 12vw;
    height: 12vw;
  }
  footer .icons a img {
    width: 8vw;
    height: 8vw;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 550px) {
  header .logo {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  header .logo img {
    width: 15vw;
    height: 15vw;
  }
  header nav ul a {
    font-size: 1.2rem;
  }
  main section.second h2 {
    font-size: 1.5rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 1.8rem;
  }
  main h3 {
    font-size: 1.8rem;
  }
  main section.second article.cards .card .image-container {
    width: 25vw;
    height: 25vw;
  }
  main section.second article.cards .card .image-container img {
    width: 25vw;
    height: 25vw;
  }
  footer .logo h1 {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */